<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="includes/autoload.php">
    <testsuites>
        <testsuite name="allTests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./includes</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./tests/report" lowUpperBound="35" highLowerBound="70"/>
    </logging>
</phpunit>